.bar {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    align-items: center;
    @include tablet{
        flex-direction: row;
        justify-content: space-between;
    }
}

.navigation {
    display: none;
    @include tablet {
        display: flex;
        align-items: center;
    }
    
    a {
        color: $blanco;
        text-decoration: none;
        font-size: 1.8rem;
        display: block;
        text-align: center;
        
        @include tablet {
            margin-right: 2rem;
            &:last-of-type{
                margin-right: 0;
            }
        }
    }
}

.menu-mobile{
    @include tablet{
        display: none;
    }

    img{
        width: 5rem;
    }
}

.display-menu {
    display: flex;
    flex-direction: column;
    @include tablet{
        flex-direction: row;
    }
}